<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Full Slab</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="headerWrapper">
      <div class="logo">
        <img src="/images/logo.png" alt="Logo de Full Slab" />
      </div>
      <nav class="navbarWrapper">
        <a href="/">Inicio</a>
        <a href="/">Categorias</a>
        <a href="/">Novedades</a>
        <a href="/">Contacto</a>
        <a href="/">
          <button class="button">Email</button>
        </a>
        <a href="admin/login">
          <button class="userAccount">
            <i class="fa-solid fa-right-to-bracket"></i>
          </button>
        </a>
      </nav>
    </div>
    {{{body}}}
    <footer class="footerWrapper">
      <div class="footerContainer">
        <div class="footerLeft">
          <img src="/images/logo.png" width="100" ="Logo de Full Slab" />
          <span class="secondaryText">Full Slab, lo mejor para vos.</span>
        </div>
        <div class="footerRight">
          <span class="primaryText">Información</span>
          <span class="secondaryText">
            Fray Luis Beltran 461, Campana, Buenos Aires, ARG
          </span>
        </div>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/b51a61d82a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>